<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.GerenciadorEmpresarialConnectionString"
            connectionString="Data Source=MRJ01-NTB506;Initial Catalog=GerenciadorEmpresarial;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>